body {
    background-image: url('../baby-groot-guardianes-de-la-galaxia_6016x3876_xtrafondos.com.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200%;
    font-family: 'Numans', sans-serif;
    }

.container {
    
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #a3cd198d;
    color: #161616;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.hero {
    background: url('../login.jpeg') center/cover no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

.btn {
    display: inline-block;
    background-color: #d5761d;
    color: #1a1a1a;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    padding: 50px 0;
    background-color: #d87e7ead;
}

.feature-item {
    text-align: center;
    margin-bottom: 30px;
}

.feature-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

footer {
    background-color: #33a9a17d;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
